{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/mostbuzzed.css">{% endblock %}

{% block title %}Most buzzed{% endblock %}

{% block content %}
<h1>Most popular TV Shows</h1>

    <div class="mostbuzzed-small-view">
        <div class="container-fluid">
            <div class="card">
                <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card">
                <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card">
                <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mostbuzzed-medium-view">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-4 col-sm-3">
                        <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                    </div>
                    <div class="col-8 col-sm-9">
                        <div class="card-body">
                            <h5 class="card-title">TV Show Title</h5>
                            <p class="card-text"><small class="text-muted">Genre - Year</small></p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="container-fluid">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-4 col-sm-3">
                        <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                    </div>
                    <div class="col-8 col-sm-9">
                        <div class="card-body">
                            <h5 class="card-title">TV Show Title</h5>
                            <p class="card-text"><small class="text-muted">Genre - Year</small></p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-4 col-sm-3">
                        <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                    </div>
                    <div class="col-8 col-sm-9">
                        <div class="card-body">
                            <h5 class="card-title">TV Show Title</h5>
                            <p class="card-text"><small class="text-muted">Genre - Year</small></p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mostbuzzed-large-view">
        <div class="comtainer-fluid">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <div class="card">
                        <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-3">
                    <div class="card">
                        <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <a href="#"><img src="/assets/images/walkingdead.jpg" class="card-img-top" alt="walkingdead"></a>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}