{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">{% endblock %}

{% block title %}Most buzzed{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-11 offset-1">
                <h1>Most buzzed TV Shows</h1>
            </div>
        </div>
    </div>

    <div class="mostbuzzed-large-view">
        <div class="container-fluid">
            <div class="row no-gutters">
                {% for buzz in buzzes %}
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <a href="/tvshow/show/{{ buzz.id }}">
                            <div class="card mostbuzzedcard">
                                <img src={{ buzz.img }} class="card-img-top" alt="affiche {{ buzz.title }}">
                                <div class="card-body">
                                    <span class="card-text">{{ buzz.nb_buzz }} <i
                                                class="fas fa-concierge-bell"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="seeAllDiv">
        <input id="seeAll" type="button" value="See all"/>
    </div>
{% endblock %}

{% block javascript %}
    <script>
    {# Script for the displaying the totality of the shows when clicking on the "See all" button #}
        let cards = document.getElementsByClassName("mostbuzzedcard");
        let nbCards = cards.length;
        let seeAllButton = document.getElementById("seeAll");
        for(let i = 8; i < nbCards; i++)
        {
            cards[i].style.display='none';
        }
        seeAllButton.addEventListener('click', show_all);
        function show_all()
        {
            for (let i  = 8; i < nbCards; i++)
            {
                cards[i].style.display = '';
                seeAllButton.style.display = 'none';
            }
        }
    </script>
{% endblock %}
