{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="col-10 offset-1 h-100">
            <img src="/assets/images/tvdbHomePageVisitor.png" class="home_page_visitor_image">
        </div>
    </div>
{% endblock %}