{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/mostbuzzed.css">{% endblock %}

{% block title %}Search results{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 offset-1">
                <h1>Search results</h1>
            </div>
        </div>

        {% for result in search %}
            <div class="card searchcard">
                <a href="#"><img src="{{ result.img }}" class="card-img-top" alt="{{ result.title }}"></a>
                <div class="card-body">
                    <p class="card-text">{{ result.title }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}