{% extends 'layout.html.twig' %}

{% block content %}
    <header>
        <div class="container-fluid">
            <div class="row position-relative">
                <div class="img-header"><img
                            src="{% block img_header %}{% endblock %}"
                            alt="{% block alt_img %}{% endblock %}"
                            class="img-back">
                </div>
                <div class="col-10 offset-1">
                    <div class="row img-title">
                        <div class="col-lg-4">
                            <img src="https://image.tmdb.org/t/p/w500/{{ tvshow.img }}" class="poster-show"
                                 alt="...">
                        </div>
                        <div class="col-lg-8 buzz-title">
                            <h2>{% block rating_season %}{% endblock %}</h2>
                            <h1>{% block serietitle %}{% endblock %}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12 buzzer">
                    <div>{% block buzz %}{% endblock %}</div>
                </div>
            </div>
            <div class="row no-gutters synopsis-header">
                <div class="col-10 offset-1 col-xl-7 offset-1 synopsis">{% block synopsis %}{% endblock %}</div>
                <div class="col-12 offset-1 offset-lg-0 col-xl-3 watched">
                    <div>{% block next_episode %}{% endblock %}</div>
                    <div>{% block on_air %}{% endblock %}</div>
                </div>
            </div>
            <div class="row informations-header">
            </div>
            <div class="row">
                <div class="col-11 offset-1 col-xl-1 year">{% block year %}{% endblock %}</div>
                <div class="col-12 col-xl-3 offset-1 offset-lg-0 genre">{% block genre %}{% endblock %}</div>
            </div>
        </div>
    </header>
    {% block tvshowlayoutcontent %}{% endblock %}
{% endblock %}