@import "tvshow.css";

.home_page_visitor_image {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*///////////////////////   CSS NAVBAR   /////////////////////////*/
.navbar {

    position: sticky;
    top: 0;

}

.navbar-expand-lg, .navbar-brand {
    background-color:#204051;
    color: #FFB400;
}

.navbar .custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 180, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .custom-toggler.navbar-toggler {
    border-color: RGBA(255, 180, 0, 0.6);
}

.navbar-nav .nav-link {
    color: #FFB400;
    margin-right: 20px;
}

.navbar-brand:hover, .nav-link:hover {
    color: #FFB400;
    text-shadow: 0 0 5px #FFB400;
}

.navbar .custom-toggler.navbar-toggler:hover {
    box-shadow: 0 0 5px #FFB400;
}

.navbar-nav {
    float: right;
    margin-left: auto;
}

.navbar-toggler {
    margin-left: auto;
}

.nav-item {
    display: flex;
    align-items: center;
}
/*//////////////////////    END CSS NAVBAR      //////////////////////*/

/*////////////////////// SIGN UP FORM STYLING //////////////////////*/
.text-error {
    color: red;
}
/*////////////////////// ACCOUNT INFORMATION STYLING //////////////////////*/
.user-info {
    background-color: #C4C4C4;
    border-radius: 5px;
    text-align: center;
    margin: 0.6rem;
}
.user-info-title {
    font-weight : bold;
}

/*////////////////////// HOME //////////////////////*/

header.home{
    background-color: #FFB400;
    padding-top: 20px;
    height: 20vh;
    width: 100%;
    margin-bottom: 5px;
}

h1{
    text-align: center;
}

.container-fluid{
    padding: 0;
}

/*////////////////////// SEARCH //////////////////////*/
.card.searchcard{
    height: 100%;
}

.search-results{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


/*////////////////////// TVSHOW //////////////////////*/
.container.tvshow{
    padding: 0;
}

header{
    background-color: #FFB400;
    padding-top: 20px;
    height: 100vh;
}

.row.title-header{
    text-align: center;
}

.row.rating-or-season-header{
    text-align: center;
}

.buzzer{
    display: flex;
    align-items: center;
}

.actors{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}

.card{
    width: 12rem;
    height: 22rem;
}

.season-block{
    background-color: #FFB400;
    display: flex;
    align-items: center;
    margin : 0.5rem;
    color: black;
}

@media screen and (min-width: 640px) {
    header{
        height: 100%;
    }
    .watched {
        text-align: right;
    }
}

/***********************  F O R   A L L   V E R S I O N  ***************************/
.mostbuzzedcard{
    margin: 15px 5% 15px 5%;
    border: rgb(255,180,0)  solid 1px;

}

/*////////////////////// MOSTBUZZED //////////////////////*/

/***********************  M O B I L E   F I R S T   :   V U E   M O B I L E   P O R T R A I T  ***************************/
@media screen and (max-width: 470px) {
    .mostbuzzed-medium-view {
        display: none;
    }

    .mostbuzzed-large-view {
        display: none;
    }
}


/*******  M E D I A   Q U E R I E S   :   V U E   M O B I L E   P A Y S A G E  -  T A B L E T T E   P O R T R A I T *****/
@media screen and (min-width: 470px) {
    .mostbuzzed-small-view {
        display: none;
    }
    .mostbuzzed-large-view {
        display: none;
    }
}
/*******  M E D I A   Q U E R I E S   :   V U E   T A B L E T T E   P A Y S A G E  -  D E S K T O P *****/
@media screen and (min-width: 960px) {
    .mostbuzzed-medium-view {
        display: none;
    }
    .mostbuzzed-large-view {
        display: initial;
    }
}