.container.tvshow{
    padding: 0;
}

header{
    background-color: #FFB400;
    padding-top: 20px;
    height: 100vh;
}

.row.title-header{
    text-align: center;
}

.row.rating-or-season-header{
    text-align: center;
}

.buzzer{
    display: flex;
    align-items: center;
}

.distribution{
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 640px) {
    header{
        height: 100%;
    }
    .watched {
        text-align: right;
    }
}
