{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container tvshow">
        <header>
            <div class="row img-header">
                <div class="col-10 offset-1"><img
                            src="https://hitek.fr/img/up_o/2070806133/hitek_c2090fc6a91ae438e8471b5f2bee9be3_1586176375.jpeg"
                            alt="westworld" class="img-fluid"></div>
            </div>
            <div class="row title-header">
                <div class="col-12"><h1>Serie title</h1></div>
            </div>
            <div class="row rating-header">
                <div class="col-12">Rating</div>
            </div>
            <div class="row synopsis-header">
                <div class="col-10 offset-1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            </div>
            <div class="row informations-header">
                <div class="col-2 offset-1">Genre</div>
                <div class="col-2">Year</div>
            </div>
            <div class="row watched-header">
                <div class="col-6 offset-1">Lucas, Jeff and Amina have watched it</div>
                <div class="col-4 watched">Not watched</div>
            </div>
            <div class="row justify-content-around buzz-episodes-informations-header">
                <div class="col-4 buzzer"><div>BUZZ</div></div>
                <div class="col-4 watched"><div>Next episode : S03EP02</div><div>On air : 15/04/2020</div></div>
            </div>
        </header>
        <main>
            <div class="row">
                <div class="col-10 offset-1">Distribution</div>
            </div>
            <div class="row">
                <div class="col-1"><</div>
                <div class="col-10 distribution">
                    <div class="card" style="width: 10rem"; >
                        <img src="https://image.tmdb.org/t/p/w138_and_h175_face/dWmzryckjVXOVoIVa3in1Cg6v4r.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Evan Rachel Wood</h5>
                            <p class="card-text">Dolores Abernathy</p>
                        </div>
                    </div>
                    <div class="card" style="width: 10rem;">
                        <img src="https://image.tmdb.org/t/p/w138_and_h175_face/byGtD0HVMgWFSluh1UlwB0qMhh7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 10rem;">
                        <img src="https://image.tmdb.org/t/p/w138_and_h175_face/npJjOiFiAP4wiRDNjKsO8ho03Mg.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}