{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ userInfo.username }}'s buzzes!</h1>

    {% for show in shows %}
        <div>{{ show.title }}</div>
        <img src="{{ show.img }}">
    {% endfor %}
{% endblock %}