{% extends 'layout.html.twig' %}

{% block title %}Sign in page{% endblock %}

{% block content %}
    {# Sentence to be displayed when successful sign up #}
    {% if username %}
        <div class="container">
            <div class="form-group col-10 offset-1"> Welcome to TV DataBuzz {{ username }}, please sign in!</div>
        </div>
    {%  endif %}

    <form class="container" action="" method="POST">
        <div class="form-group col-10 offset-1">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="{{ email }}">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <small class="form-text text-error">
                {{ errors.email }}
            </small>
        </div>
        <div class="form-group col-10 offset-1">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
            <small class="form-text text-error">
                {{ errors.password }}
            </small>
        </div>
        <button type="submit" class="btn btn-primary col-4 offset-4 user-buttons">Sign in</button>
    </form>
{% endblock %}